/* Sidebar.css */
/* Adjust main content margin to match sidebar width */

#sidebar {
  height: 100%;
  width: 250px; /* Default width for larger screens */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1d3557;
  padding-top: 20px;
  transition: width 0.3s;
}

#sidebar.active {
  width: 275px; /* Increase width for active (open) state */
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 23px;
  font-weight: 500;
}

.sidebar-header h3 {
  color: #fff;
  font-size: 24px;
}

.list-unstyled {
  padding: 0;
}

.list-unstyled li {
  padding: 10px;
  border-top: 1px solid #464e55;
  cursor: pointer;
}

.list-unstyled li:first-child {
  border-top: none;
}

.list-unstyled li a {
  color: #fefae0; /* Change the default text color to blue (#007bff) */
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, padding-left 0.3s, color 0.3s;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 300;
}

.list-unstyled li a i {
  margin-right: 10px;
  transition: transform 0.3s;
}

.list-unstyled li a:hover {
  background-color: #495056;
  padding-left: 20px;
  color: #a8dadc; /* Change the text color on hover to a turquoise color (#17a2b8) */
}
.list-unstyled li a:hover i {
  transform: translateX(5px);
}

/* Sidebar toggle button */


.sidebar-toggle:hover {
  color: #a8dadc; /* Change color on hover */
}

/* Adjust the sidebar width and transition */
@media (max-width: 768px) {
  .sidebar-toggle {
    background: none;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .sidebar-toggle i {
    font-size: 24px;
    
  }
  #sidebar {
    width: 0; /* Hide the sidebar completely when closed on small screens */
  }

  #sidebar.active {
    width: 250px; /* Open sidebar width on small screens */
  }
}
@media (max-width: 768px) {
  #sidebar .sidebar-header .list-unstyled li {
    display: none;
  }
}